@import "tailwindcss";
@import "@nuxt/ui";

html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  @apply bg-slate-950;
  font-family: 'Work Sans', 'Inter', sans-serif;
}

@theme {
  --spacing-content-maxw: 1800px;
}